{% extends "base.j2" %}

{% from "macros.j2" import check_box %}

{% block title_extra %} | Control{% endblock %}

{% block content %}
<div class="container">
  <div class="row-fluid">
      <h2>Objects</h2>

      <h4>Pump</h4>
      <p> The pump is <strong>{{ 'enabled' if ws.pump.state else 'disabled' }}</strong>. The pump only works together with the 
          water sensor, which is en-/disabled together with the pump.</p>
      {% if session.logged_in %}
      <p class="section-description">Enabling and disabling the pump</p>
      <p>
         {% if not ws.pump.state %}
         <a class="btn btn-large btn-success" href="{{ url_for('hardware.enable', ws_obj='pump') }}">enable</a> 
         {% else %}
         <a class="btn btn-large btn-danger" href="{{ url_for('hardware.disable', ws_obj='pump') }}">disable</a>
         {% endif %}
      </p>
      <p>You can also enable/disable the water sensor on it's own (currently 
         <strong>{{ 'enabled' if ws.watersensor.state else 'disabled' }}</strong>):</p>
      <p>
         {% if not ws.watersensor.state %} 
           <a class="btn btn-small btn-success" href="{{ url_for('hardware.enable', ws_obj='watersensor') }}">enable watersensor</a>
         {% else %} 
           <a class="btn btn-small btn-danger" href="{{ url_for('hardware.disable', ws_obj='watersensor') }}">disable watersensor</a>
         {% endif %}
      </p>

      {% else %}
      <p>[Not logged in]
      {% endif %}
  </div><!--/row-->

</div><!--/container-->
{% endblock %}

{% block extrabodyjs %}
{% endblock %}
