{% extends "base.j2" %}

{% from "macros.j2" import check_box %}

{% block title_extra %} | Control{% endblock %}

{% block head_extra %}
  {# reload page every three seconds #}
  {# <meta http-equiv="refresh" content="3; URL={{ url_for('hardware.webcam') }}"> #}
{% endblock %}

{% set active_page = 'hardware.control' %}

{% block content %}
<div class="container">
  <div class="inner">
        <a href="{{ url_for('hardware.camimage') }}">
          <img class="thumbnail" style="max-width:95%;" alt="webcam image" src="{{ url_for('hardware.camimage') }}">
        </a>
        Reload the page to see the next image.
  </div><!--/inner-->
</div>
{% endblock %}

{% block extrabodyjs %}
{% endblock %}
