{% extends "base.j2" %}

{% from "macros.j2" import check_box %}

{% block title_extra %} | Control{% endblock %}

{% block head_extra %}
  {# reload page every three seconds #}
  {# <meta http-equiv="refresh" content="3; URL={{ url_for('hardware.webcam') }}"> #}
{% endblock %}

{% set active_page = 'hardware.control' %}

{% block content %}
<div class="container">
  <div class="inner">
        <a href="{{ url_for('hardware.camimage') }}">
          <img class="thumbnail" id="webcam_img" style="max-width:95%;" alt="webcam image" src="{{ url_for('hardware.camimage') }}">
        </a>
        <p>Last updated: <span id="lastUpdated">{{ last_updated }}</span><p>
        <p><button type="button" class="btn btn-primary active" onclick="reload()">Reload Image</button></p>
  </div><!--/inner-->
</div>
{% endblock %}

{% block extrabodyjs %}
<script>
reload = function(){
d = new Date();
$("#webcam_img").prop("src", "{{ url_for('hardware.camimage') }}?reload=" + d.valueOf());
var options = { weekday: 'short', 
                year: 'numeric', month: 'long', day: '2-digit', 
                hour:'2-digit', minute:'2-digit', minute:'2-digit' };
sd = d.toLocaleString();
$("#lastUpdated").html(sd);
}
//reload()
</script>
{% endblock %}
